article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
a,
h2 {
  color: $baseColor;
  font-family: "Roboto";
  font-weight: 500;
  text-align: left;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}



html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.disable-scroll {
  overflow: hidden;
}

.colored-link {
  font-size: $fontSizeL;
  text-decoration: none;
  text-align: center;
  outline-color: transparent;
  transition: color 0.4s, outline-color 0.5s;

  &:hover {
    color: $hoverColor;
  }

  &:active {
    color: $activeColor;
  }

  &:focus {
    color: $hoverColor;
    border-radius: 10px;
    outline: 1.5px solid $activeColor;
    outline-offset: 5px;
  }
}

@media(max-width: $laptopWidth) {
  .container {
    padding: 0 16px
  }
}