.biography {
  display: grid;
  grid-template-columns: 49% auto 39%;
  grid-template-rows: 52% 12% 35%;
  color: $secondaryColor;
  font-size: $fontSizeM;
  align-items: stretch;
  margin-bottom: 154px;

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__header {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: $baseColor;
  }


  &__subject {
    @include fontPlayfair(500);
    line-height: 133%;
    color: $baseColor;
    padding-bottom: 38px;
    max-width: 100px;
    margin-top: 178px;
  }

  &__info {
    line-height: 115%;
    position: relative;
    padding-bottom: 10px;
  }


  &__quote {
    @include fontBitter(26px);
    line-height: 119%;
    color: $secondaryColor;
    font-weight: 300;
    max-width: 82%;
    padding-top: 6px;
  }
}


@media (min-width: ($laptopWidth + 1px)) {
  .biography {
    &__image {
      @include allHeight();
    }

    &__header {
      @include rotate(-22%);
      align-self: start;
      @include allHeight();
    }

    &__list
   {
    display: flex;
    gap: 10px;
   }

     &__list li{
    list-style: "/";
    white-space: nowrap;
    list-style-position: outside;
  }

  &__list li:first-child{
    list-style: none;
  }
      &__info::after{
    content: "";
    width: 20px;
    height: 6px;
    background-color: $secondaryColor;
    position: absolute;
    bottom: 13px;
  }

    &__new-line {
      display: none;
    }
  }
}

@media(max-width: $laptopWidth) {
  .biography {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    margin-bottom: 79px;


    &__image {
      grid-area: 4;
      max-height: 400px;
      @include allWidth();
    }

    &__header {
      font-size: $fontSizeM;
    }

    &__subject {
      max-width: 1000px;
      font-size: 63px;
      grid-area: 3;
      margin-top: 125px;
      @include allWidth();
    }

        &__subject::before {
          content: "-";
        }


    &__info {
      grid-area: 1;
    }

    &__list {
      list-style: "-";
      list-style-position: inside;

      li {
        display: list-item;
      }
    }

    &__quote {
      font-size: 30px;
      font-weight: 300;
      max-width: 100%;
      margin-top: 42px;
      @include allWidth();
    }

    &__hide {
      display: inline;
    }
  }
}

@media(max-width: $mobileWidth) {

  .biography {
    &__subject {
      margin-top: 54px;
    }

    &__quote {
      max-width: 100%;
    }
  }
}