  .header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1% 20px;
    gap: 20px;

    &__title {
      @include fontPlayfair(600);
      flex-grow: 1;
    }

    &__navigation {
      display: flex;
      align-items: center;
    }

    &__ref {
      margin-left: 55px;
    }

    &__message {
      padding-left: 20px;
    }

    &__message svg {
      transition: fill 0.4s;
      fill: $baseColor;
    }

    &__message:hover svg {
      fill: $hoverColor
    }

    &__message:active svg {
      fill: $activeColor
    }

    &__message:focus svg {
      fill: $hoverColor;
      border-radius: 10px;
      outline: 1.5px solid $activeColor;
      outline-offset: 5px;
    }

    &__hide {
      display: inline;
    }

  }



  @media(max-width: $laptopWidth) {
    .header {
      justify-content: center;
      padding: 0;
      min-height: 82px;
      padding-left: 50px;
      padding-right: 32px;

      &__title,
      &__hide {
        display: none;
      }

      &__ref {
        @include fontBitter(40px);
        margin-left: 0px;
      }

      &__ref:hover {
        color: $hoverColor;
      }

      &__navigation {
        justify-content: space-between;
        width: 100%;
        gap: 70px;
      }

      &__ref,
      &__message {
        padding: 0;
      }
    }
  }


  @media (max-width:($mobileWidth + 1px)) {
    .header {
      &__navigation {
        gap: 10px;
      }
    }
  }