article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
a,
h2 {
  color: #000000;
  font-family: "Roboto";
  font-weight: 500;
  text-align: left;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}