.designers {
  margin-bottom: 130px;
}


.designers__container {
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  align-items: end;
}

.designers__image {
  margin-bottom: 24px;
}

.designers__card {
  margin-left: 20px;
}

.designers__text {
  line-height: 117%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.designers__header {
  font-size: 24px;
  margin-bottom: 30px;
}

.designers__header,
.designers__subheader,
.designers__accent {
  font-weight: 700;
}

@media (min-width: 1025px) {
  .designers__big-image {
    padding-left: 42%;
  }
}

@media(max-width: 1024px) {
  .designers {
    margin-bottom: 63px;
  }

  .designers__image {
    max-width: 310px;
    min-height: 440px;
    object-fit: cover;
  }

  .designers__card {
    margin-left: 16px;
  }

  .designers__container {
    align-items: stretch;
  }

  .designers__header {
    font-size: 18px;
  }

}