.footer {
  background-color: #0D0D0D;
  color: #ffffff;
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 70px 20px;
}

.footer__contacts_container {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__contacts {
  color: #ffffff;
  font-weight: 400;
  line-height: 26px;
}


.footer__slogan {
  font-size: 18px;
  text-align: center;
}

.footer__accent {
  font-size: 24px;
  font-weight: 900;
}

.footer__copiright {
  text-align: right;
  font-weight: 400;
}

@media(max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 43px 15px;
    gap: 6px;
  }

  .footer__slogan {
    align-self: flex-end;
    order: -1;
  }
}