.strong-points {
  margin-bottom: 130px;
}

.strong-points__header {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
}

.strong-points__container {
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  align-items: start;
}

.strong-points__article {
  margin-bottom: 20px;
  margin-left: 20px;
}

.strong-points__article_wide {
  min-width: 450px;
}

.strong-points__subheader {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}

.strong-points__list {
  font-family: "Bitter";
  font-size: 34px;
  padding-left: 115px;
  line-height: 125%;
  font-weight: 400;
}

@supports (display: grid) {
  .strong-points__container {
    display: grid;
    justify-content: space-between;
    overflow-y: auto;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media(max-width: 1024px) {

  .strong-points__article {
    margin-top: 4px;
    margin-bottom: 16px;
    margin-left: 16px;
  }

  .strong-points__article_wide {
    order: -1;
    min-width: 206px;
    margin-top: 0px;
  }

  .strong-points__image {
    width: 310px;
    height: 446px;
    object-fit: cover;
  }


  .strong-points__header {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .strong-points__subheader {
    font-size: 46px;
    margin-bottom: 22px;
  }

  .strong-points__list {
    font-size: 24px;
    padding-left: 15px;
    line-height: 154%;
  }

  .strong-points {
    margin-bottom: 63px;
  }
}